@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Karla:wght@500&family=Poiret+One&family=Poppins:wght@300;400;500;700&family=Roboto:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  /* background-color: #000; */
  color: #fff;
  scrollbar-gutter: stable both-edges;
}

div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
img,
a,
i {
  background-color: transparent;
}

body {
  background-color: #000;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
}

.bg-dark {
  background-color: #000 !important;
}

header {
  position: relative;
  height: 100vh;
  z-index: 4;
}

.photo-img {
  width: 200px;
  text-align: center;
}

.name-container {
  position: relative;
  z-index: 2;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.name {
  font-size: calc(1em + 5vw);
  font-weight: 800;
  letter-spacing: 1rem;
  background-color: inherit;
  margin-bottom: 1rem;
  margin-right: -1rem;
  text-align: center;
}

.job {
  display: inline-block;
  font-weight: 200;
  font-size: calc(0.8em + 1vw);
  background-color: inherit;
}

.job-after-typing {
  font-weight: 700;
}

.social-links ul {
  list-style-type: none;
}

.social-links ul li {
  transition: 0.15s;
}

.social-links ul li:hover {
  transform: scale(1.5);
}

.fa-linkedin,
.fa-github,
.fa-envelope {
  font-size: 2rem;
}

.delay-200ms {
  animation-delay: 0.2s;
}

.delay-300ms {
  animation-delay: 0.3s;
}

.delay-800ms {
  animation-delay: 0.8s;
}

.delay-6s {
  animation-delay: 6s;
}

.delay-6500ms {
  animation-delay: 6.5s;
}

.delay-7s {
  animation-delay: 7s;
}

.delay-7500ms {
  animation-delay: 7.5s;
}

.btn-seeMore {
  color: #fff;
  background: transparent;
  font-weight: 200;
  font-size: 1.1em;
  text-transform: uppercase;
}

.btn-seeMore-box {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
  margin-top: 2rem;
}

.btn-seeMore-anim {
  color: #fff;
  transition: all 0.5s;
  position: relative;
}

.btn-seeMore-anim::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.05);
  transition: all 0.3s;
}

.btn-seeMore-anim:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}

.btn-seeMore-anim::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: scale(1.2, 1.2);
}

.btn-seeMore-anim:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

/*stars*/
.stars,
.twinkling {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.stars {
  z-index: 0;
  background: #000 url("../img/stars.png") repeat top center;
}

.twinkling {
  z-index: 1;
  background: transparent url("../img/twinkling.png") repeat top center;
  animation: move-twink-back 500s linear infinite;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

/* main {
  padding: 0 20rem;
  margin: 8rem 0;
} */

main .about-me {
  margin-bottom: 10rem;
}


/* .heading h2,
.skills-container .skills {
  font-size: 5rem;
  font-weight: 700;
} */

.about-me .about, .skills {
  background-color: #131313;
  padding: 3rem;
  border-radius: 1rem;
}

.skills {
  background-color: #131313;
}

.skills .language, .skills .frontend-languages, .skills .backend-frameworks, .skills .db, .skills .tools {
    min-width: 110px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2em;
    margin-top: 2em;
    transition: 0.2s;
    background-color: #202020;
    border-radius: 5px;
    padding: 1em;
}

ul  {
  list-style-type: none;
}



.img {
  width: 50px;
}

@media screen and (max-width: 991px){
  
  .name {
    font-size: calc(1em + 3vw);
    font-weight: 800;
    letter-spacing: 1rem;
    background-color: inherit;
    margin-bottom: 1rem;
    margin-right: -1rem;
    text-align: center;
  }
}


@media screen and (max-width: 767px) {
	.name {
		font-size: calc(1em + 2vw);
    letter-spacing: 0.5rem;
	}
}


@media screen and (max-width: 500px) {
	.name {
    font-size: calc(0.5em + 1vw);
  }
}


@media screen and (max-width: 450px) {
	.name {
		font-size: 5vw;
	}

	.job {
		font-size: calc(1em + 1vw);
	}

  @media screen and (max-width: 350px) {
    .name {
      font-size: 4vw;
    }
  
    .job {
      font-size: calc(0.8em + 1vw);
    }
  
    .team-work-text {
      display: block;
      margin: 10px 0 0 0;
    }
  }
  .fa-linkedin,
.fa-github,
.fa-envelope {
  font-size: 1.5rem;
}

.btn-seeMore-box {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 200px;
  cursor: pointer;
  margin-top: 1rem;
}
}
